[Desktop Entry]
Name=Segmentation
Comment=Image Polygonal Annotation with Python
Exec=labelme
Icon=/home/contec/labelme/labelme/icons/icon.png
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;
