[Desktop Entry]
Name=Segmentation
Comment=Image Polygonal Annotation with Python
Exec=labelme
Icon=segmentation.png
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;
